.register{
    display:flex;
    margin-top:130px;
  }
  .container__register{
    margin:0 auto;
    width:486px;
    height:600px;
  }
  .form-registration__buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }