.custom-search{
    flex-wrap: wrap;
}
.search__form{
    flex-wrap: wrap;
    
}
.search__input{
    border-radius: 9999px;
    width: 400px;
}
.create__appeal a{
    height:40px !important;  
}
.container__search-from{
    margin-bottom:24px;
    display:flex;
    justify-content:space-between;
}