.comment-manager{
    font-size: 14px;
  }
  .dropdown-toggle-no-caret  {
    width: 58px;
    height: 38px;
    margin-left: 10px;
  }
  .vgt-global-search{
    display: none !important;
  }
  .columnCenter{
    text-align:center !important;
  }
  .dn{
    display: none !important;
  }
  .vgt-table thead th,table.vgt-table td {
    vertical-align: revert !important;
  }